﻿@using Broadvine.Membership
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/icon-sets.css">
<link rel="stylesheet" href="~/Content/main.min.css">
<link rel="stylesheet" href="~/Content/Site.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76" href="~/Content/Images/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/Content/Images/favicon.ico">

<div id="wrapper">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "login-form" }))
{
    @Html.AntiForgeryToken()

    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div id="login-box" class="auth-box lockscreen clearfix">
                <div class="content">
                    <div id="login-logo" class="logo text-center" style="display:none;"><img src="~/Content/Images/logo-big.png" alt="Broadvine Logo"></div>
                    <div id="login-prompts">
                        <div class="form-group">
                            <label for="Email" class="control-label sr-only">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="Password" class="control-label sr-only">Email</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <input id="login-button" type="submit" value="Log in" class="btn btn-primary btn-lg btn-block"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
</div>

@Scripts.Render("~/bundles/jquery", "~/bundles/jqueryui")

<script language="javascript">
    $(document).ready(function () {
        $("#login-logo").slideDown(500);

        $("#login-button").click(function (e) {
            e.preventDefault();
            var email = $("#Email").val();
            var password = $("#Password").val();
            SetLoginState(true);
            $.ajax({
                url: "/Account/LogMeIn?email=" + email + "&password=" + password,
                success: function (result) {
                    if (result.passed == true) {
                        $("#login-prompts").hide("slide", { direction: "right" }, 1000);
                        $("#login-logo").hide("slide", { direction: "left" }, 1000);
                        $("#login-box").fadeOut(1000, function () {
                            window.location.href = '@Url.Content("~/Home")';
                        });
                    }
                    else {
                        SetLoginState(false);
                    }
                },
                error: function (a, b, c) {
                    SetLoginState(false);
                }
            });
        });

        function SetLoginState(isBusy) {
            if (!isBusy) {
                $("#login-button").removeAttr("disabled");
                $("#login-button").empty().html("Log in");
                $("#login-box").effect("shake");
                $("#Password").val("");
            } else {
                $("#login-button").attr("disabled", "disabled");
            }
        }
    });
</script>
