﻿@model Broadvine.Models.Common.Customer

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <img src="~/Content/Images/blank-avatar.png" title="Account Avatar" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Details</h3>
                    <div class="right">
                        @if (this.User.IsInRole("Sysop"))
                        {
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        }

                        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new { @class = "btn btn-primary" })
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="form-horizontal">
                        <div class="form-group">
                            <label for="Name" class="control-label col-md-3">Name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Code" class="control-label col-md-3">Code</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Token" class="control-label col-md-3">Access Token</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Token, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Active" class="control-label col-md-3">Active</label>
                            <div class="col-md-3">
                                <div class="checkbox">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
