﻿@model Broadvine.Models.Common.Customer
@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/Customers.js")"></script>
}
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Customer</h3>
                        <div class="right">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.CustomerID)
                            @Html.HiddenFor(model => model.Name)

                            <div class="form-group">
                                <label for="Name" class="control-label col-md-2">Name</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Code" class="control-label col-md-2">Code</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Token" class="control-label col-md-2">Access Token</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Token, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.Token, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Active" class="control-label col-md-2">Active</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Active)
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
