﻿@model IEnumerable<Broadvine.Models.Common.Customer>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Customers.js")"></script>
}
@{
    ViewBag.Title = "Customers";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Customers</h2>
                    <div class="right">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="gridCustomers"></div>
                    <div id="details"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <h4>#= Name#</h4>
        <dl>
            <dt>Code: #= Code #</dt>
            <dt>Address: #= Address1 # + #= Address2 #</dt>
            <dt>City: #= City #</dt>
            <dt>State: #= State #</dt>
            <dt>Zip: #= Zip #</dt>
            <dt>Phone: #= Phone #</dt>
        </dl>
    </div>
</script>*@
