﻿@section Scripts {
    <script src="@Url.Content("~/Scripts/Dashboard.js")"></script>
}
<div class="row" id="workflow-stats"></div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title" id="period-header">Current Posting Period</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding text-center">
                <div class="weekly-summary col-md-4">
                    <span class="number" id="period-count"><span class="glyphicon glyphicon-refresh spinning"></span></span>
                    <span class="info-label">Total Invoices</span>
                </div>
                <div class="weekly-summary col-md-4">
                    <span class="number" id="period-paid"><span class="glyphicon glyphicon-refresh spinning"></span></span>
                    <span class="info-label">Paid</span>
                </div>
                <div class="weekly-summary col-md-4">
                    <span class="number" id="period-void"><span class="glyphicon glyphicon-refresh spinning"></span></span>
                    <span class="info-label">Void</span>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Invoice Activity</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Invoice</th>
                            <th>User</th>
                            <th class="text-right">Amount</th>
                            <th>Date &amp; Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="activity-invoice">
                        <tr><td colspan="5"><span class="glyphicon glyphicon-refresh spinning"></span></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 10 Entries</span></div>
                    <div class="col-md-6 text-right">
                        @Html.ActionLink("View All Activity", "Invoice", "AuditLogs", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Recent Overall Activity</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Source</th>
                            <th>Type</th>
                            <th>Information</th>
                        </tr>
                    </thead>
                    <tbody id="activity-system">
                        <tr><td colspan="5"><span class="glyphicon glyphicon-refresh spinning"></span></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 10 Entries</span></div>
                    <div class="col-md-6 text-right">
                        @Html.ActionLink("View All Activity", "System", "AuditLogs", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
</div>
