﻿@model Broadvine.Models.Expense.Invoice
@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/InvoiceDetails.js")"></script>
}
@{
    var auditLog = (List<Broadvine.Models.Expense.AuditLog>)ViewBag.AuditLog;
    var documentLink = Model.URL;
    var status = ViewBag.Status;
    var statusName = ViewBag.StatusName;
    var showNextOperations = ViewBag.ShowNext;

    ViewBag.Title = "New Invoice";
}

@Html.HiddenFor(model => model.InvoiceGuidA)
@Html.HiddenFor(model => model.InvoiceGuidB)
<input type="hidden" id="StatusID" name="StatusID" value="@status" />
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" style="min-height:620px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice #@Html.ValueFor(model => model.InvoiceNumber)</h3>
                    <div class="right text-right">
                        Invoice Date: @Html.DisplayFor(model => model.InvoiceDate)<br />
                        Due Date: @Html.DisplayFor(model => model.DueDate)
                    </div>
                </div>
                <div class="panel-body">
                    <address>
                        <b>Property</b><br />
                        @Html.ValueFor(model => model.Property.NameWithCode)<br />
                        @Html.ValueFor(model => model.Property.Address1)<br />
                        @Html.ValueFor(model => model.Property.City), @Html.ValueFor(model => model.Property.State) @Html.ValueFor(model => model.Property.ZipCode)
                    </address>
                    <br />
                    <address>
                        <b>Vendor</b><br />
                        @Html.ValueFor(model => model.Vendor.NameWithCode)<br />
                        @Html.ValueFor(model => model.Vendor.Address1)<br />
                        @Html.ValueFor(model => model.Vendor.City), @Html.ValueFor(model => model.Vendor.State) @Html.ValueFor(model => model.Vendor.ZipCode)
                    </address>
                    <br />
                    <address>
                        <b>Buyer</b><br />
                        @Html.ValueFor(model => model.BuyerFirstName) @Html.ValueFor(model => model.BuyerLastName)
                    </address>
                    <br />
                    <address>
                        <b>Status</b><br />
                        @Html.ValueFor(model => model.StatusID)<br /><br />

                        <b>Notes</b><br />
                        @Html.ValueFor(model => model.Notes)
                    </address>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Line Items</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <tr>
                            <th>Account</th>
                            <th>Department</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>

                        @foreach (var item in Model.Lines)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.NameWithCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.NameWithCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.ShippingTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ShippingTotal)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.TaxTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.TaxTotal)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.NetTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.NetTotal)
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Activity</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <tr>
                            <th>Date Time</th>
                            <th>Source</th>
                            <th>Type</th>
                            <th>Information</th>
                            <th>Details</th>
                        </tr>

                        @foreach (var item in auditLog)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditSourceID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditTypeID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Information)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<div id="dialog-confirm-reject" title="Reject Invoice?">
    <p>
        Reason this invoice is being rejected:<br />
        <input type="text" id="text-reject" class="form-control" maxlength="100" />
    </p>
</div>

<div id="dialog-confirm-post" title="Post Invoice?">
    <p><span class="fa-check-circle ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure you want to post this invoice?</p>
</div>
<div id="dialog-message" title="...">
    <p>
        <span class="fa-info-circle" style="float:left; margin:12px 12px 20px 0;"></span>
        <div id="dialog-message-text"></div>
    </p>
</div>
