﻿@model Broadvine.Models.Expense.Invoice
@section Scripts
{
    <script src="@Url.Content("~/Scripts/InvoiceEdit.js")"></script>
}
@{
    var auditLog = (List<Broadvine.Models.Expense.AuditLog>)ViewBag.AuditLog;

    ViewBag.Title = "New Invoice";
}

@Html.HiddenFor(model => model.InvoiceGuidA)
@Html.HiddenFor(model => model.InvoiceGuidB)
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel" style="min-height:620px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice #@Html.ValueFor(model => model.InvoiceNumber)</h3>
                    <div class="right text-right">
                        Invoice Date: @Html.DisplayFor(model => model.InvoiceDate)<br />
                        Due Date: @Html.DisplayFor(model => model.DueDate)
                    </div>
                </div>
                <div class="panel-body">
                    <b>Property</b><br />
                    <input id="searchProperty" placeholder="Select Property..." style="width: 100%;" />
                    <address id="info-property"></address>
                    <b>Vendor</b><br />
                    <input id="searchVendor" placeholder="Select Vendor..." style="width: 100%;" />
                    <address id="info-vendor"></address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Line Items</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <tr>
                            <th>Account</th>
                            <th>Department</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>

                        @*@foreach (var item in Model.Lines)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account.NameWithCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.NameWithCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }*@
                        <tfoot>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.ShippingTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ShippingTotal)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.TaxTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.TaxTotal)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                                <td>
                                    @Html.LabelFor(model => model.NetTotal)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.NetTotal)
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Activity</h3>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <tr>
                            <th>Date Time</th>
                            <th>Source</th>
                            <th>Type</th>
                            <th>Information</th>
                            <th>Details</th>
                        </tr>

                        @*@foreach (var item in auditLog)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditSourceID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditTypeID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Information)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                            </tr>
                        }*@
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="dialog-message" title="...">
    <p>
        <span class="fa-info-circle" style="float:left; margin:12px 12px 20px 0;"></span>
        <div id="dialog-message-text"></div>
    </p>
</div>
