﻿@model IEnumerable<Broadvine.Models.Expense.Invoice>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/InvoiceSearch.js")"></script>
}
@{
    ViewBag.Title = ViewBag.StatusName + " Invoices";

    int search_status = ViewBag.Status;

    SelectList search_month = ViewBag.SearchMonth;
}

@using (Html.BeginForm())
{
    @Html.Hidden("status", search_status)

    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Criteria</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="searchProperty">Property</label>
                                <input id="searchProperty" placeholder="Select Property..." style="width: 100%;" />
                                <label for="searchInvoiceNumber">Invoice #</label>
                                @Html.TextBox("searchInvoiceNumber", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="searchVendor">Vendor</label>
                                <input id="searchVendor" placeholder="Select Vendor..." style="width: 100%;" />
                                <label>Invoice Date&nbsp;&nbsp;&nbsp;&nbsp;</label><br />
                                @Html.TextBox("searchInvoiceDate", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="searchPostMonth">Posting Period</label>
                                @Html.DropDownList("searchPostMonth", search_month, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div style="width:100%;" class="text-right">
                                <label for="button_clear"></label>
                                <input id="button_clear" type="button" value="Clear" class="btn btn-primary" />
                                <label for="button_search"></label>
                                <input id="button_search" type="button" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">@ViewBag.Title</h2>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="searchInvoices"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


