﻿@model IEnumerable<Broadvine.Models.Expense.Invoice>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/InvoiceSearch.js")"></script>
}
@{
    ViewBag.Title = "Search Results";
    string searchterm = ViewBag.SearchTerm ?? "";
}

@using (Html.BeginForm())
{
    @Html.Hidden("searchTerm", searchterm)
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">Search Result(s)</h2>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="searchInvoices"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


