﻿@model Broadvine.Models.Expense.AuditLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AuditLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditSourceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditSourceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuditLogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
