﻿@model IEnumerable<Broadvine.Models.Expense.AuditLog>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/AuditLog.js")"></script>
}
@{
    ViewBag.Title = "System Activity";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">@ViewBag.Title</h2>
                    <div class="right">
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="gridSystem"></div>
                </div>
            </div>
        </div>

    </div>
</div>