﻿.label-Pending{
  background-color: #ff6a00;
}

.label-Posted {
  background-color: #00AAFF;
}

.label-Post {
  background-color: #00AAFF;
}

.label-Posted {
  background-color: #00AAFF;
}

.label-Rejected {
  background-color: #d30303;
}

.label-Failed {
  background-color: #d30303;
}

.label-Paid {
  background-color: #41B314;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    transform-origin:50% 58%;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
    
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.k-list-container{
    font-size:10px!important;
    min-width:300px!important;
}