﻿@section Scripts
{
    <script src="@Url.Content("~/Scripts/Roles.js")"></script>
}
@{
    ViewBag.Title = "Roles";
}

<div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Roles</h2>
                    <div class="right">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="gridRoles"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title">Role Permissions</h2>
                    <div class="right">
                        @Html.ActionLink("+", "Create", null, new { @class = "btn btn-primary" })
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="gridPermissions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
