﻿@model IEnumerable<Expense.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";


}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>User Name</th>
            <th>Locked Out</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}


