﻿@model Broadvine.Membership.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <img src="~/Content/Images/blank-avatar.png" title="Account Avatar" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Account Details</h3>
                    <div class="right">
                        @if (this.User.IsInRole("Sysop"))
                        {
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        }

                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="form-horizontal">
                        <div class="form-group">
                            <label for="FirstName" class="control-label col-md-3">First Name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="LastName" class="control-label col-md-3">Last Name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="control-label col-md-3">User Name</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber" class="control-label col-md-3">Phone Number</label>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LockoutEnabled" class="control-label col-md-3">Locked out/Disabled</label>
                            <div class="col-md-3">
                                <div class="checkbox">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    @Html.EditorFor(model => model.LockoutEnabled, new { htmlAttributes = new { @disabled = "disabled" } })
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
