﻿@model Broadvine.Membership.ApplicationUser
@section Scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="@Url.Content("~/Scripts/Users.js")"></script>
}
@{
    ViewBag.Title = "Edit";

    IEnumerable<SelectListItem> UserRoles = ViewBag.Roles;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit User</h3>
                        <div class="right">
                            @if (this.User.IsInRole("Sysop"))
                            {
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
                            }
                            else
                            {
                                @Html.ActionLink("Cancel", "Details", null, new { @class = "btn btn-primary" })
                            }
                            
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.UserName)

                            <div class="form-group">
                                <label for="Email" class="control-label col-md-2">Email Address</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="FirstName" class="control-label col-md-2">First Name</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="LastName" class="control-label col-md-2">Last Name</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="PhoneNumber" class="control-label col-md-2">Phone Number</label>
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="LockoutEnabled" class="control-label col-md-2">Locked out/Disabled</label>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @Html.EditorFor(model => model.LockoutEnabled)
                                        @Html.ValidationMessageFor(model => model.LockoutEnabled, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Role" class="control-label col-md-2">Roles</label>
                                <div class="col-md-4">
                                    @Html.ListBox("UserRoles", UserRoles)
                                    @*@Html.EditorFor(model => model.Roles, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <hr />
                            Password Reset
                            <div class="form-group">
                                <label for="new-password-1" class="control-label col-md-2">Password</label>
                                <div class="col-md-2">
                                    @Html.Password("password-1", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-password-1" class="control-label col-md-2">Confirm Password</label>
                                <div class="col-md-2">
                                    @Html.Password("password-2", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"></label>
                                <div class="col-md-2">
                                    <input id="btn-reset-mypassword" type="button" value="Reset Password" class="btn btn-primary"/>
                                </div>
                            </div>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                if (this.User.IsInRole("Sysop") || this.User.IsInRole("Administrator"))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-2"></label>
                                        <div class="col-md-4">
                                            <span>Use this option to email a system generated password.</span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-2"></label>
                                        <div class="col-md-2">
                                            <input id="btn-reset-password" type="button" value="Send New Password" class="btn btn-primary" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="dialog-confirm-password-reset" title="Reset Password?" style="display:none;">
        <p>
            Are you sure you want to reset this users password?<br />
            An email with the new password will be sent.
        </p>
    </div>
    <div id="dialog-message" title="...">
        <p>
            <span class="fa-info-circle" style="float:left; margin:12px 12px 20px 0;display:none;"></span>
            <div id="dialog-message-text"></div>
        </p>
    </div>
}
